.titulo{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.5rem;
    color: blue;
}

.precio{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: gray;
    font-weight: bold;
}

.descripcion{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: gray;
    font-weight: bold;
}

.precioValor{
    color: red;
    font-style: italic;
    font-weight: lighter;
}

.descripcionTexto{
    color:black;
    font-style: italic;
    font-weight: lighter;
}